// tailwindcss dependencies

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

// main scss file
@import "./main.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Inter");

h1,
li,
p,
h2,
option,
html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div.leaflet-control-attribution.leaflet-control{
display:none !important;
}

.home > .red ~ .red {
  border: none;
}
div.leaflet-top.leaflet-right > .leaflet-control-geocoder.leaflet-bar.leaflet-control ~   .leaflet-control-geocoder.leaflet-bar.leaflet-control
{
display:none !important;
}

